body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.product-container {
    max-width: 1000px;
    background: #fff;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    background-color: #486b70;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.title {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.author {
    margin: 5px 0 0;
    font-weight: 500;
    opacity: 0.9;
}

.back-btn {
    text-align: left;
    margin: 15px 20px;
}

    .back-btn button {
        padding: 8px 15px;
        border: 1px solid #ccc;
        background: #fff;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
    }

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 40px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box {
    width: 500px;
    height: 600px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-size: 24px;
    border-radius: 8px;
}

.right {
    flex: 1;
}

.category {
    background-color: #d7995d;
    color: white;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.strike {
    text-decoration: line-through;
    color: gray;
}

.pricing {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.desc {
    margin-top: 15px;
}

.count-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

    .count-box input {
        width: 70px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

.cart-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #a0a6a5;
    color: white;
    font-weight: bold;
    cursor: not-allowed;
}
